In [34]:
import PyPDF2
import pandas as pd

In [40]:
# Open the PDF file
with open('patterns.pdf', 'rb') as pdf_file:
    pdf_reader = PyPDF2.PdfFileReader(pdf_file)

    words_list = []

    for page_num in range(pdf_reader.numPages):
        page = pdf_reader.getPage(page_num)
        text = page.extractText().lower()
        words = text.split()  # Split the text into words
        words_list.extend(words)

# Create a DataFrame from the list of words
df = pd.DataFrame({'Words': words_list})

df_sorted = df.sort_values(by='Words', ascending=True)

# Print the first few rows of the DataFrame
print(df_sorted.head(60))

unknown widths :
[0, IndirectObject(136, 0, 2211732753360)]
unknown widths :
[0, IndirectObject(111, 0, 2211732753360)]
unknown widths :
[0, IndirectObject(151, 0, 2211732753360)]
unknown widths :
[0, IndirectObject(80, 0, 2211732753360)]

            Words
114            38
112           468
61         512esl
62         512esr
63         ansl31
0          ansl32
1          ansl33
64         ansl34
100  ansl34_rasta
99        ansl34a
2          ansl35
3          ansl36
65         ansl37
24         ansl38
66         bareav
30          baten
31          brass
111         brick
32          brick
109       brick_a
67         brlpr2
68         brlpr3
101    bwk_eng_01
102    bwk_fle_01
103    bwk_str_01
55         cblk16
33          cblkb
83             cl
4            clay
5          clgrid
6          cmbond
7           coash
25         concr2
34         concr3
35         concrt
36           cork
37          cross
54         crsrbl
8           cubes
9            dash
10         dolmit
98          earth
95         earth2
96         earth3
97         earth4
11         enbond
69         exgrnd
70          fence
26         flbond
38         flcomm
39           flex
40         gblock
115       glazing
41         grade1
12         grade3
13          grass
14          grate
15         gravel
27          hbone
42         herrng

In [41]:
df.reset_index()
df.head()

    Words
0  ansl32
1  ansl33
2  ansl35
3  ansl36
4    clay

In [42]:
prefix = 'RSHP_Detail_'
df['Words'] = df['Words'].apply(lambda x: prefix + x)
df

                   Words
0     RSHP Detail_ansl32
1     RSHP Detail_ansl33
2     RSHP Detail_ansl35
3     RSHP Detail_ansl36
4       RSHP Detail_clay
..                   ...
111    RSHP Detail_brick
112      RSHP Detail_468
113        RSHP Detail_x
114       RSHP Detail_38
115  RSHP Detail_glazing

[116 rows x 1 columns]

In [47]:
df.to_csv('names.csv', index=False)
print('CSV Exported sucessfuly✅')

CSV Exported sucessfuly✅